@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Carrois Gothic";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/CarroisGothic-Regular.woff") format("woff"),
      url("/fonts/CarroisGothic-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Adelio Darmanto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/AdelioDarmanto.woff") format("woff"),
      url("/fonts/AdelioDarmanto.woff2") format("woff2");
  }

  html,
  body {
    @apply min-h-[100vh] overflow-hidden;
  }

  h1 {
    @apply text-6xl font-adelio font-medium;
  }

  h2 {
    @apply text-4xl font-carrois font-medium;
  }

  h3 {
    @apply text-3xl font-carrois font-bold;
  }

  h4 {
    @apply text-lg font-carrois font-medium;
  }

  h5 {
    @apply text-xl font-carrois font-medium;
  }

  h6 {
    @apply text-lg font-carrois font-medium;
  }

  body {
    @apply text-base font-normal font-carrois relative bg-blue-lightest text-text;
  }

  a,
  .anchor-styling {
    @apply text-base font-normal underline hover:underline hover:text-pink-accent focus:text-pink-accent focus:underline;
  }

  li {
    @apply list-disc ml-12;
  }

  @screen lg {
    h1 {
      @apply text-8xl;
    }

    h2 {
      @apply text-5xl;
    }

    h3 {
      @apply text-4xl;
    }

    h4 {
      @apply text-2xl;
    }
  }
}

@layer components {
  .custom-class {
    @apply bg-black;
  }
}
