@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Arsenal Regular";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Arsenal-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: "Arsenal Bold";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/adelio.otf") format("otf");
  }

  html,
  body {
    @apply min-h-[100vh];
  }

  h1 {
    @apply text-5xl font-adelio font-medium;
  }

  h2 {
    @apply text-4xl font-adelio font-medium;
  }

  h3 {
    @apply text-3xl font-adelio font-bold;
  }

  h4 {
    @apply text-lg font-arsenal font-medium;
  }

  h5 {
    @apply text-xl font-arsenal font-medium;
  }

  h6 {
    @apply text-lg font-arsenal font-medium;
  }

  body {
    @apply text-base font-normal font-arsenal relative;
  }

  a,
  .anchor-styling {
    @apply text-base font-normal underline hover:underline hover:text-pewter-blue focus:text-pewter-blue focus:underline;
  }

  li {
    @apply list-disc ml-12;
  }

  @screen lg {
    h1 {
      @apply text-6xl;
    }

    h2 {
      @apply text-5xl;
    }

    h3 {
      @apply text-4xl;
    }

    h4 {
      @apply text-2xl;
    }
  }
}

@layer components {
  .custom-class {
    @apply bg-black;
  }
}
